@model ExportManager.DBModel.LicenseAdd


@{

}

<!DOCTYPE html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    @using (Html.BeginForm("Additem", "LicenseAdd"))
    {
        @Html.AntiForgeryToken()

        <div id="item_data">
            <h4>ITEM ADD</h4>


            <div class="form-inline">

                <div class="form-group">
                    <label>Choose Item</label>
                    



                        @Html.DropDownListFor(x => x.SelectedItems, Model.Items, "select")

                    
                </div>

                <div class="form-group">
                    <label>

                        No_Units

                    </label>
                    
                        @Html.EditorFor(model => model.No_Units)
                        @Html.ValidationMessageFor(model => model.No_Units, "")
                    
                </div>
                <div class="form-group">
                     <label></label> 
                    
                        <button type="submit"  id="itm_add" class="btn btn-success">Add Item</button>
                    
                </div>

            </div>
            </div>

        if (Model.Itms_db != null)
        {
            <h3>ITEMS ADDED</h3>
            <table class="table table-bordered table-hover" >
                <tr>
                   
                    <th>Item_Name</th>
                    <th>No_Units</th>
                    
                </tr>

                @foreach (var item in Model.Itms_db)
                {
                    string selectedRow = "";
                 
                        selectedRow = "success";
                   
                    <tr class="@selectedRow">
                        
                        <td>
                            @item.Itm_names
                        </td>
                        <td>
                            @item.Itm_No_Units
                        </td>
                        
                    </tr>
                }

            </table>
        }
    }

    <div>
        @Html.ActionLink("Back to List", "Index","Licenses")
    </div>
</body>
</html>
