@model ExportManager.DBModel.LicenseAdd


@{

}

<!DOCTYPE html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    @using (Html.BeginForm("Additem", "LicenseAdd"))
    {
        @Html.AntiForgeryToken()

  
        if (Model.Itms_db != null)
        {
            <h3>ITEMS ADDED</h3>
            <table class="table">
                <tr>
                    <th></th>
                    <th>Item_Name</th>
                    <th>No_Units</th>

                </tr>

                @foreach (var item in Model.Itms_db)
                {
                    string selectedRow = "";

                    selectedRow = "success";

                    <tr class="@selectedRow">
                        <td>
                            @Html.ActionLink("Select", "Index")
                        </td>
                        <td>
                            @item.Itm_names
                        </td>
                        <td>
                            @item.Itm_No_Units
                        </td>

                    </tr>
                }

            </table>
        }
    }

    
</body>
</html>


