@model IEnumerable<ExportManager.DBModel.Notify>

@{
    //Layout = null;
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryui")
@section scripts {

    @Scripts.Render("~/Scripts/angular.js")
    @Scripts.Render("~/Scripts/App/module.js")
    @Scripts.Render("~/Scripts/App/tryangular.js")
}

<style>
    .table td, .table th {
    border: none;
}

table.table.table-condensed {
    border: 1px solid black;
}

</style>

<script>
    $(function () {
        var i = 0;
        var availableTags = new Array();
        $.post("@Url.Action("GetLicensedata", "Notify")", function (data) {
            $.each(data.lic_nos, function (i, lic_no) {
                //availableTags.push(lic_no.lic_no);
                availableTags[i] = { label: lic_no.lic_no, Id: lic_no.lic_id };
                i++;
                
            })
            
           // alert(availableTags);
            $("#tags").autocomplete({
                source: availableTags,
                select: function (event, ui) {

                    var lic_no = ui.item.Id;

                    alert(lic_no);
                    $("#lic_no").val(lic_no).trigger("change");

                }
            });


        });
    
  
  } );
</script>
<!DOCTYPE html>



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>

        <body ng-app="notifyApp">
            
           <div>

               <h4>Email Notify</h4>
               <hr />

           </div> 
       <div class="panel panel-info">
    <div class="panel-heading">Notification</div>
    <div class="panel-body">

            <div class="table">
                <div ng-controller="Notifyctrl " class="col-md-6 col-md-offset-3">
                    
                    <div>


                        <div class="form-group">
                            <div class="ui-widget">
                                <label for="tags">Search License: </label>
                                <input id="tags" />
                            </div>
                           
                        </div>
                       
                        <form novalidate name="emailform" class="form-inline" ng-submit="addemail()">
                           
                            <input type="text" id="lic_no" hidden="hidden" ng-model="lic_no" ng-model-options="{ updateOn: 'change' }" ng-change="fun()" />
                            @*<div>{{lic_no}} </div>*@
                            <div class="form-group">
                                <label>Enter Email</label>
                                <input type="email" placeholder="enter email" ng-model="emails.address" name="addr" required ng-minlength="8" />

                            </div>

                            <div class="form-group ">
                                <input type="submit" value="ADD" class="btn btn-sm btn-info" ng-disabled="emailform.$invalid" />

                            </div>

                            <div class="form-group" >
                                <table  class="table table-condensed" ng-show="isemail">
                                    <tr>
                                        <th>Email Address to Add</th>
                                        <th></th>
                                    </tr>
                                    <tr ng-repeat="email in newemail">
                                        <td>
                                            {{ email.address}}
                                        </td>
                                        <td>
                                            <button class="btn-link" ng-click="deleteemail($index, email)">Delete</button>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-md-offset-3 form-group">
                                <input type="submit" value="NotifyALL" ng-click="savedata()" class="btn btn-sm btn-success" />
                            </div>

                        </form>
                        <div class="col-md-6 col-md-offset-3 form-group">
                            <div>
                                <span ng-show="emailform.addr.$error.minlength" class="text-danger">required min length 8</span>
                                <label></label>
                            </div>
                        

                        </div>

                        @*<textarea ng-model="items" rows="row"></textarea>*@

                        

                        
                          <table class="table table-responsive table-striped" ng-show="isdata">
                        <tr>
                            <th>Email Address Added</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="email in mails">
                            <td>
                                {{ email.Emailid}}
                            </td>
                            <td>
                                <button class="btn-link" ng-click="deleteServeremail($index, email.Emailid)">Delete</button>
                            </td>
                        </tr>


                    </table>

                            </div>
                        </div>
                    </div>
        </div>

           
    </div>

        </body>

</html>
