@model ExportManager.DBModel.Export_view

@{
// Layout = null;
}


@*<style>
    .alert {
  display:inline-block;
}
</style>*@
@*  <div id="editablePane">
            @Html.TextBoxFor(s => s., new { @class = "myEditable", disabled = "disabled" })
            @Html.TextBoxFor(s => s.Height, new { @class = "myEditable", disabled = "disabled" })
        </div>
    }*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportEdit</title>
</head>
<body>






    

@if (Model.exp_item != null)
{

    <h4 class="alert-info">Items Added</h4>
    
    <table class="table table-striped table-responsive " id="itemtable">
        <thead >

            <tr>

                <th >Item_Name</th>
                <th >No_Units</th>
                <th >Unit Value</th>
                <th><a class="btn" onclick="deleteRow('@Model.exp_item.First().Id')">Delete item</a></th>


            </tr>
        </thead>

        <tbody id="contacts">
            @foreach (var item in Model.exp_item)
            {



                foreach (var exp_item in item.Export_Item)
                {

                    <tr>
                        <td>
                            @exp_item.Item.Name

                        </td>

                        <td>
                            @*@Html.EditorFor(m =>m.No_Of_Units, new { htmlAttributes = new {id="no_units" } })*@

                            @exp_item.No_Of_Units

                        </td>
                        <td>
                            @exp_item.Item.Unit_Value

                        </td>
                        @*<td>

                              @Html.ActionLink("Update", "UpdateExportitem", new { item_id = exp_item.Item_Id, exp_item_id = exp_item.Id, exp_id = Model.exp_id, lic_id = Model.lic_id }, new { id = "update" })
                            </td>
                        *@
                        <td>
                            <input type="checkbox" name="childHeader" value="@exp_item.Id" class="chcekitem" />

                            @*@Html.ActionLink("Delete", "DeleteExportitem", new { exp_item_id = exp_item.Id })*@
                        </td>

                    </tr>
                }


            }
        </tbody>
    </table>
}
   
    
</body>
</html>
